<div id="site_header">
  <h1 id="site_logo" class="logo">MYSTATS</h1>
  <div id="header_account_links">
    <%=link_to "logout", logout_path, {:id=>"logout_link", :class=>"account_settings_link"} %>
  </div>
</div>